<div class="sidebar" id="sidebar">
    <h3 class="text-center">
        <img src="img/LogoEdexa.jpg" alt="Logo" class="logo-img">
    </h3>

    <hr>
    <div class="container-list">
        <a *ngIf="tipoUsuario === 1 || tipoUsuario === 2" [routerLink]="['planos']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-house"></i> Planos
        </a>
        <a *ngIf="tipoUsuario === 1 || tipoUsuario === 2" [routerLink]="['BuscarItem']" routerLinkActive="active">
            <i class="bi bi-cloud"></i> Buscar Items
        </a>
        <a *ngIf="tipoUsuario === 1 || tipoUsuario === 2" [routerLink]="['AgregarItem']" routerLinkActive="active">
            <i class="bi bi-graph-up"></i> Agregar Items
        </a>
        <a *ngIf="tipoUsuario === 1" [routerLink]="['Usuario']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-graph-up"></i> Usuario
        </a>
        <a href="#" (click)="salir($event)">
            <i class="bi bi-shield-lock"></i> Salir 
        </a>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
